$col-dark: #000000;
$col-light: #ffffff;
$bg-main: #141414;
$hColor : #737373;

$itemHover: 1.2;
$duration: 250ms;

// <iframe width="560" height="315" src="https://www.youtube.com/embed/Ubo7jccr-DY?si=6w_fKkqQIkqDBDuo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>